.heroes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  column-gap: 50px;
  width: 100%;
  height: 520px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  background-color: rgb(229, 226, 226);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.wrap {
  display: flex;
  padding: 20px;
  max-width: 90%;

  gap: 20px;
}

body {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
  padding: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 20px;
}

.pagination button {
  padding: 10px;
  margin: 0 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}
